{% extends "base.html" %}

{% load  static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/myblog.css' %}">
{% endblock css %}



{% block js %}
<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
<script type="text/javascript">
        var apiKey = '{{ api_key }}';
        var sessionId = '{{ session_id }}';
        var token = '{{ token }}';
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/opentok/testone.js' %}"></script>

{% endblock js %}